<div class="container">
  <header>
    <h1 class="mat-display-1">@angular/material:
      <a href="https://material.angular.io/components/input/overview#changing-when-error-messages-are-shown"
         target="_blank" rel="nofollow">error state matching</a>
    </h1>
    <a mat-stroked-button
       color="primary"
       href="https://github.com/JanMalch/angular-material-error-state-matching"
       target="_blank" rel="nofollow">Source Code</a>
  </header>
  <app-editor [options]="options"></app-editor>
</div>
